<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/blogs.js"></script>
</head>

<div class="container">
    <div class="col-md-2"> <input type="button" value="List" ng-model = "username" ng-click="list(email)" class="btn btn-primary"></div>


      <body ng-app="blog" ng-controller="blog">

          <div class="col-md-8">
              <h1>Welcome to your dashboard !</h1>
                <br>
          <textarea placeholder="Title of your blog" cols="100" rows="2" ng-model="title" name ="title"></textarea>
          <hr>

          <textarea placeholder="Your content goes here" ng-model="content" name = "content" cols="100" rows="20"></textarea>
          <input type="submit" class="btn btn-success" ng-click="submit()" value="Push" style="float:right;">
          </div>

      </body>

<div class="col-md-2"></div>
    </div>
</html>